@use "../../../scss/variables" as *;

.kanji-details-page-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.kanji-details-card-wrapper {
  display: flex;
  justify-content: center;
}

.kanji-details-card {
  box-shadow:
    2px 3px 20px black,
    0 0 60px #8a4d0f inset;
  background-color: $japanese_white;
  border: 2px solid $sumo_iro;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 50px;
  width: fit-content;
}

.kanji-details-main-title {
  text-align: center;
  margin-top: 25px;
  font-family: Yu Mincho;
}

.kanji-character {
  text-align: center;
  font-size: 4.2rem;
  font-family: Yu Mincho;
}

.kanji-details-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
  font-size: 2rem;
}

#kanji-jlpt-level {
  text-align: center;
}

#kanji-stroke-count {
  text-align: center;
}

#kanji-meaning {
  text-align: center;
}
