@font-face {
  font-family: Yu Mincho;
  src: url("/src/assets/fonts/yumin.ttf");
}
.kanji-row {
  font-size: 50px;
  border-radius: 10px;
  border: 2px solid #27221F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

td {
  padding: 25px;
  text-align: center;
}

.kanji-meaning-hr {
  border: 1px solid #27221F;
  width: 75%;
}

.kanji-meaning {
  text-align: center;
  font-size: 25px;
}