@font-face {
  font-family: Yu Mincho;
  src: url("/src/assets/fonts/yumin.ttf");
}
.bar {
  width: 50%;
  background-color: #FFFFFF;
  height: 2px;
}

.bar-1 {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.bar-1-active {
  transition: transform 0.5s ease;
  transform: rotate(45deg) translate(9px, 9px);
}

.bar-2 {
  transition: opacity 0.5s ease;
  opacity: 1;
  width: 33%;
}

.bar-2-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.bar-3 {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.bar-3-active {
  transition: transform 0.5s ease;
  transform: rotate(-45deg) translate(8px, -8px);
}

@media (width > 425px) and (width <= 768px) {
  .menu-burger-button {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(0%);
  }
  .menu-burger-button-active {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(650%);
  }
}
@media (width > 375px) and (width <= 425px) {
  .menu-burger-button {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(0%);
  }
  .menu-burger-button-active {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(600%);
  }
}
@media (width > 320px) and (width <= 375px) {
  .menu-burger-button {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(0%);
  }
  .menu-burger-button-active {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(550%);
  }
}
@media (width <= 320px) {
  .menu-burger-button {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(0%);
  }
  .menu-burger-button-active {
    background-color: #27221F;
    display: flex;
    position: fixed;
    top: 20px;
    left: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
    transform: translate(450%);
  }
}
@media (width > 768px) {
  .menu-burger-button {
    display: none;
  }
}