@font-face {
  font-family: Yu Mincho;
  src: url("/src/assets/fonts/yumin.ttf");
}
.menu-burger-button {
  background-color: #27221F;
  font-family: Yu Mincho;
  display: flex;
  position: fixed;
  top: 20px;
  left: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease;
  transform: translate(0%);
}

.menu-burger-button-active {
  background-color: #27221F;
  font-family: Yu Mincho;
  display: flex;
  position: fixed;
  top: 20px;
  left: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease;
  transform: translate(600%);
}

.bar {
  width: 50%;
  background-color: #FFFFFF;
  height: 2px;
}

.bar-1 {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.bar-1-active {
  transition: transform 0.5s ease;
  transform: rotate(45deg) translate(10px, 10px);
}

.bar-2 {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.bar-2-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.bar-3 {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.bar-3-active {
  transition: transform 0.5s ease;
  transform: rotate(-45deg) translate(12px, -12px);
}

@media (width > 768px) {
  .menu-burger-button {
    display: none;
  }
}