@use "../../scss/variables" as *;

@media (width > 768px) {
  #footer-div {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
  }

  .github-logo {
    font-size: 30px;
  }

  .version-paragraph {
    font-size: 18px;
    text-align: center;
  }
}

@media (width <= 768px) {
  .main-footer {
    display: none;
  }

  #footer-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
}
