@use "../../scss/variables" as *;

.kana-card-table {
  border-radius: 10px;
  box-shadow:
    2px 3px 20px black,
    0 0 60px #8a4d0f inset;
  background-color: $japanese_white;
  border: 2px solid $sumo_iro;
  border-radius: 10px;
  text-align: center;
}

#kana-romaji-hr {
  border: 1px solid $sumo_iro;
}

@media (width > 1440px) {
  .kana-card-table {
    font-size: 56px;
    width: 180px;
  }

  .kana-card-table-empty {
    width: 180px;
    border-style: none;
  }

  #kana-romaji-hr {
    margin: 0 auto;
    width: 75%;
  }
}

@media (width > 1024px) and (width <= 1440px) {
  .kana-card-table {
    font-size: 56px;
    width: 180px;
  }

  .kana-card-table-empty {
    width: 180px;
    border-style: none;
  }

  #kana-romaji-hr {
    margin: 0 auto;
    width: 75%;
  }
}

@media (width > 768px) and (width <= 1024px) {
  .kana-card-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 56px;
    width: 150px;
    height: 200px;
    gap: 15px;
  }

  .kana-card-table-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 200px;
    gap: 15px;
    padding: 10px;
    border-style: none;
  }

  .kana-text {
    font-size: 25px;
    text-align: center;
  }

  #kana-romaji-hr {
    margin: 0 auto;
    width: 50%;
  }

  .romaji-text {
    font-size: 25px;
    text-align: center;
  }
}

@media (width > 425px) and (width <= 768px) {
  .kana-card-table {
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 150px;
    padding: 10px;
    gap: 10px;
  }

  .kana-card-table-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 150px;
    padding: 10px;
    border-style: none;
  }

  .kana-text {
    font-size: 25px;
    text-align: center;
  }

  #kana-romaji-hr {
    margin: 0 auto;
    width: 75%;
  }

  .romaji-text {
    font-size: 25px;
    text-align: center;
  }
}

@media (width > 375px) and (width <= 425px) {
  .kana-card-table {
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 110px;
    padding: 10px;
    gap: 10px;
  }

  .kana-card-table-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 110px;
    padding: 10px;
    border-style: none;
  }

  .kana-text {
    font-size: 25px;
    text-align: center;
  }

  #kana-romaji-hr {
    margin: 0 auto;
    width: 75%;
  }

  .romaji-text {
    font-size: 25px;
    text-align: center;
  }
}

@media (width <= 375px) {
  .kana-card-table {
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:
      2px 3px 20px black,
      0 0 30px #8a4d0f inset;
    background-color: $japanese_white;
    width: 50px;
    height: 110px;
    padding: 10px;
    gap: 10px;
  }

  .kana-card-table-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 110px;
    padding: 10px;
    border-style: none;
  }

  .kana-text {
    font-size: 25px;
    text-align: center;
  }

  #kana-romaji-hr {
    margin: 0 auto;
    width: 75%;
  }

  .romaji-text {
    font-size: 25px;
    text-align: center;
  }
}
