@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.kanji-category-div {
    width: 100px;
    height: 150px;
    border: 1px solid $sumo_iro;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.level-text {
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
}