@use "../../scss/variables" as *;

@media (width > 1024px) {
  .kanji-card {
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid $sumo_iro;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

    border-style: "1px solid $sumo_iro";
    width: 250px;
  }

  td {
    padding: 25px;
    text-align: center;
  }

  .kanji-meaning-hr {
    border: 1px solid $sumo_iro;
    width: 75%;
  }

  .kanji-meaning {
    text-align: center;
    font-size: 25px;
  }
}

@media (width > 768px) and (width <= 1024px) {
  .kanji-card {
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid $sumo_iro;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

    border-style: "1px solid $sumo_iro";
    width: 250px;
  }

  .kanji-meaning-hr {
    border: 1px solid $sumo_iro;
    width: 75%;
  }

  .kanji-meaning {
    text-align: center;
    font-size: 25px;
  }
}

@media (width > 425px) and (width <= 768px) {
  .kanji-card {
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid $sumo_iro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    width: 100px;
    height: 185px;
  }

  .kanji-meaning-hr {
    border: 1px solid $sumo_iro;
    width: 75%;
  }

  .kanji-meaning {
    text-align: center;
    font-size: 25px;
  }
}

@media (width <= 425px) {
  .kanji-card {
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid $sumo_iro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 60px;
    height: 125px;
  }

  .kanji-meaning-hr {
    border: 1px solid $sumo_iro;
    width: 50%;
  }

  .kanji-meaning {
    text-align: center;
    font-size: 15px;
  }
}
