@use "../../scss/mixins" as *;

section {
  @include section();
  display: flex;
  justify-self: center;
  text-align: center;
  padding: 30px;
  margin-top: 50px;
}

@media (width <= 768px) {
  section {
    width: 50%;
  }
}

@media (width <= 375px) {
  section {
    width: 50%;
    font-size: 20px;
  }
}
