@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.grammar-selection-list-div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.main-hr-footer {
  width: 880px;
  border: 1px solid $sumo_iro;
  justify-self: center;
  margin-top: 50px;
}

@media (width <= 768px) {
  #grammar-main-page-div {
    height: 100vh;
  }
}
