@use "../../scss/variables" as *;

@media (width > 1024px) {
  #hiragana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }

  .kana-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 25px;
  }

  #kana-page-hr {
    width: 880px;
    border: 1px solid $sumo_iro;
    justify-self: center;
    margin-top: 50px;
  }

  #katakana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }
}

@media (width > 768px) and (width <= 1024px) {
  #hiragana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }

  .kana-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 25px;
  }

  #kana-page-hr {
    width: 50%;
    border: 1px solid $sumo_iro;
    justify-self: center;
    margin-top: 50px;
  }

  #katakana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }
}

@media (width > 425px) and (width <= 768px) {
  #hiragana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }

  .kana-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
  }

  #kana-page-hr {
    width: 50%;
    border: 1px solid $sumo_iro;
    justify-self: center;
    margin-top: 50px;
  }

  #katakana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }
}

@media (width <= 425px) {
  #hiragana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }

  .kana-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
  }

  #kana-page-hr {
    width: 50%;
    border: 1px solid $sumo_iro;
    justify-self: center;
    margin-top: 50px;
  }

  #katakana-title {
    text-align: center;
    padding: 25px;
    font-size: 42px;
  }
}
