@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;

.grammar-main-page-tooltip {
  text-align: center;
  margin-top: 50px;
}

.grammar-selection-list-div-wrapper {
  display: flex;
  justify-content: center;
}

.grammar-selection-list-div {
  display: grid;
  width: 750px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 100px;
  gap: 20px;
}

.main-hr-footer {
  width: 880px;
  border: 1px solid $sumo_iro;
  justify-self: center;
  margin-top: 50px;
}

@media (width <= 768px) {
  #grammar-main-page-div {
    height: 100%;
  }

  .grammar-selection-list-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0;
    gap: 20px;
  }
}
