@font-face {
  font-family: Yu Mincho;
  font-display: swap;
  src: url("/src/assets/fonts/yumin.ttf");
}
@media (width > 768px) {
  .main-footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
  }
  #footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
  }
  .main-hr-footer {
    border: 1px solid #27221f;
    justify-self: center;
    margin-top: 50px;
  }
  #footer-div {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
  }
  #github-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 2px 3px 20px black, 0 0 20px #8a4d0f inset;
    background-color: #eee6d9;
  }
  #github-logo-div:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: #27221f;
  }
  #github-logo-div:hover .github-logo {
    color: #ffffff;
  }
  .github-logo {
    color: #27221f;
    font-size: 30px;
  }
  .version-paragraph {
    font-size: 30px;
    text-align: center;
  }
}
@media (width > 425px) and (width <= 768px) {
  .main-footer {
    display: none;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .github-logo {
    font-size: 36px;
  }
  .version-paragraph {
    font-size: 28px;
    text-align: center;
  }
}
@media (width > 375px) and (width <= 425px) {
  .main-footer {
    display: none;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .github-logo {
    font-size: 24px;
  }
  .version-paragraph {
    font-size: 18px;
    text-align: center;
  }
}
@media (width <= 375px) {
  .main-footer {
    display: none;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .github-logo {
    font-size: 24px;
  }
  .version-paragraph {
    font-size: 18px;
    text-align: center;
  }
}