@font-face {
  font-family: Yu Mincho;
  src: url("/src/assets/fonts/yumin.ttf");
}
@media (width > 768px) {
  #footer-div {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
  }
  .github-logo {
    font-size: 30px;
  }
  .version-paragraph {
    font-size: 30px;
    text-align: center;
  }
}
@media (width > 425px) and (width <= 768px) {
  .main-footer {
    display: none;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .github-logo {
    font-size: 36px;
  }
  .version-paragraph {
    font-size: 28px;
    text-align: center;
  }
}
@media (width > 375px) and (width <= 425px) {
  .main-footer {
    display: none;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .github-logo {
    font-size: 24px;
  }
  .version-paragraph {
    font-size: 18px;
    text-align: center;
  }
}
@media (width <= 375px) {
  .main-footer {
    display: none;
  }
  #footer-div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .github-logo {
    font-size: 24px;
  }
  .version-paragraph {
    font-size: 18px;
    text-align: center;
  }
}