@use "../scss/variables" as *;

@mixin navbar-link {
  background-color: $sumo_iro;
  width: 150px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  color: $white;
  font-size: 24px;
  text-decoration: none;
}

@mixin sidebar-link {
  background-color: $sumo_iro;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  color: $white;
  font-size: 20px;
  text-decoration: none;
}

@mixin sidebar-link-small-mobile {
  background-color: $sumo_iro;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 20px;
  padding: 35px 50px;
  border-radius: 10px;
  color: $white;
  font-size: 20px;
  text-decoration: none;
}

@mixin sidebar-link-very-small-mobile {
  background-color: $sumo_iro;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 95px;
  height: 40px;
  padding: 10px 30px;
  border-radius: 10px;
  color: $white;
  font-size: 15px;
  text-decoration: none;
}

@mixin section {
  background-color: $sumo_iro;
  color: $white;
  font-size: 30px;
  border-radius: 10px;
  width: 880px;
  height: fit-content;
}

@mixin menu-burger-button {
  background-color: $sumo_iro;
  display: flex;
  position: fixed;
  top: 20px;
  left: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
