// Colors

$crimson_red: #CB1B45;
$sumo_iro: #27221F;
$sumo_iro_light: #574c45;
$japanese_white: #EEE6D9;
$japanese_blue: #1C3563;

$white: #FFFFFF;

// Fonts

@font-face {
    font-family: Yu Mincho;
    src: url("/src/assets/fonts/yumin.ttf");
}