@use "../scss/variables" as *;
@use "../scss/mixins" as *;

@media (width > 768px) {
  .sidebar-wrapper {
    display: none;
  }

  .menu-burger-button {
    display: none;
  }
}

@media (width <= 768px) {
  .sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    height: 100vh;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    border-radius: 0 5px 5px 0;
    z-index: 1;
  }

  .sidebar-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(0%);
    border-radius: 0 5px 5px 0;
    z-index: 1;
  }

  .menu-burger-button {
    z-index: 1;
  }

  .menu-burger-button-active {
    z-index: 1;
  }

  .bar {
    width: 50%;
    background-color: $white;
    height: 2px;
  }

  .bar-1 {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
  }

  .bar-1-active {
    transition: transform 0.5s ease;
    transform: rotate(45deg) translate(9px, 9px);
  }

  .bar-2 {
    transition: opacity 0.5s ease;
    opacity: 1;
    width: 33%;
  }

  .bar-2-active {
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .bar-3 {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
  }

  .bar-3-active {
    transition: transform 0.5s ease;
    transform: rotate(-45deg) translate(8px, -8px);
  }
}

@media (width > 425px) and (width <= 768px) {
  .menu-burger-button {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(0%);
  }

  .menu-burger-button-active {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(600%);
  }
}

@media (width > 375px) and (width <= 425px) {
  .menu-burger-button {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(0%);
  }

  .menu-burger-button-active {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(600%);
  }
}

@media (width > 320px) and (width <= 375px) {
  .menu-burger-button {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(0%);
  }

  .menu-burger-button-active {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(550%);
  }
}

@media (width <= 320px) {
  .menu-burger-button {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(0%);
  }

  .menu-burger-button-active {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(450%);
  }
}

@media (width > 425px) and (width <= 768px) {
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar-link {
    @include sidebar-link-small-mobile();
  }

  .sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    height: 100vh;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    border-radius: 0 5px 5px 0;
  }

  .sidebar-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(0%);
    border-radius: 0 5px 5px 0;
  }

  .link-div {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 674px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .sidebar-footer-hr {
    width: 75px;
    border: 1px solid $sumo_iro;
    justify-self: center;
    margin-top: 50px;
  }
}

@media (width > 375px) and (width <= 425px) {
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar-link {
    @include sidebar-link-very-small-mobile();
  }

  .sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    height: 100vh;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    border-radius: 0 5px 5px 0;
  }

  .sidebar-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(0%);
    border-radius: 0 5px 5px 0;
  }

  .link-div {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 674px;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .sidebar-footer-hr {
    width: 75px;
    border: 1px solid $sumo_iro;
    justify-self: center;
    margin-top: 50px;
  }
}

@media (width <= 375px) {
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
  }

  .sidebar-link {
    @include sidebar-link-very-small-mobile();
  }

  .sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    height: 100vh;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    border-radius: 0 5px 5px 0;
  }

  .sidebar-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    box-shadow:
      2px 3px 20px black,
      0 0 60px #8a4d0f inset;
    background-color: $japanese_white;
    width: 33%;
    transition: transform 0.5s ease;
    transform: translateX(0%);
    border-radius: 0 5px 5px 0;
  }

  .link-div {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 674px;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .sidebar-footer-hr {
    width: 75px;
    border: 1px solid $sumo_iro;
    justify-self: center;
    margin-top: 50px;
  }

  .menu-burger-button {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(0%);
  }

  .menu-burger-button-active {
    @include menu-burger-button();
    transition: transform 0.5s ease;
    transform: translate(475%);
  }
}
